.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
}

.registration-container h1 {
    color: #4845c7;
    padding-top: 10px;
    padding-bottom: 10px;
}