.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
}

.login-container h1 {
    color: #4845c7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-container h4 {
    font-weight: lighter;
}

.sign-up-section {
    padding: 20px;
}

.sign-up-section h3 {
    color: #4845c7;
}