.inventicents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
    padding-top: 20px;
}

.inventi-title h1 {
    color: #4845c7;
}

.inventicents-button {
    color: #4845c7;
    padding-top: 10px;
    font-family: 'Ubuntu';
    font-size: large;
    font-weight: 1000;
    appearance: none;
    background-color: transparent;
    border: 2px solid #14D020;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    line-height: normal;
    margin: 6px;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  .inventicents-button a {
    color: #4845c7;
    text-decoration: none;
  }
  .inventicents-button:hover a {
    color: #FFFFFF;
  }
  .inventicents-button:hover {
    background-color: #4845c7;
    font-weight: bolder;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  .inventicents-button:active {
    transform: translateY(0);
  }